<%= form_with model: album, local: true do |f| %>
  <% unless album.errors.empty? %>
    <ul>
      <% album.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <h3>With songs:</h3>

  <%= f.fields_for :songs do |song_form| %>
    <div class="">
      <%= song_form.label :title %>
      <%= song_form.text_field :title %>

      <%= song_form.check_box :_destroy %>
      <%= song_form.label :_destroy %>
    </div>
  <% end %>

  <%= f.submit action_name %>
<% end %>
